.inputLabel, .inputLablAlign {
    margin-bottom: 17px;
}
.inputLabel p, .inputLablAlign p,.optionSectionStyle p {
    margin-bottom: 5px;
    font-size: 1rem;
}
.optionSectionStyle > div{margin-bottom: 17px;}
input[type="text"],input[type="email"],input[type="number"] {
    width: 100%;
}
.elementPropsBlock .accordion-body[data-v-31ca851e] {
    background: transparent;
    padding-top: 0;
}
.elementPropsBlock .accordion-item[data-v-31ca851e] {
    background-color: #6868ac;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff3;
}
.inputLablAlign button {
    border: none;
    padding: 10px 17px;
    border-radius: 2px;
    background: #192a6b;
    font-weight: 600;
    color: #fff;
  }
  .inputLablAlign > div {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  button.deleteStyle {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    font-weight: 600;
    color: gray;
    font-family: cursive;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .inputWithDeleteStyle {
    position: relative;
  }
  .optionSelectBoxStyle div {
    flex: 1;
    margin-bottom: 10px
  }
  button.AddButtonStyle {
    margin-top: 12px;
    width: 100%;
    background: #192a6b;
    border: none;
    padding: 0;
    font-size: 30px;
    font-weight: 800;
    font-family: cursive;
    color: #fff;
    line-height: 37px;
  }
  input[type="text"] {
    width: 100%;
  }
  .optionSelectBoxStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
  }
  .inputLablAlign > div button {
    flex: 1;
  }
  .element_setting {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: 99;
    background: #6868ac;
    color: #fff;
    transition: 0.3s;
    display: none;
    transform: translateX(-30%);
  }
  .element_setting.active {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 99;
    background: #6868ac;
    color: #fff;
    display: block;
    transform: translateX(0);
    height: calc(100vh - 80px);
      overflow: hidden;
      overflow-y: scroll;
  }
  .element_setting.active::-webkit-scrollbar {
    display: none;
  }
  .closeBtn img {
    width:34px;
    background: #fff;
    padding: 10px;
    cursor: pointer;
  }
  .closeBtn {
    text-align: right;
  }
  .defaultCheckboxtStyle p {
      margin-bottom: 0;
  }
  .defaultCheckboxtStyle {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;
  }
  .optionSelectionStyle p {
      margin-bottom: 8px;
  }
  .prefillSectionStyle textarea {
    width: 100%;
}
.optionLabelField {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*----------form builder input style----------------*/
.inputHeaderStyle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.inputSubHeaderStyle{
  font-size: 14px;
  margin-bottom: 7px;
}
.inputTextArea textarea{
  width: 100%;
  padding-left: 10px;
}